@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}
.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 200px;
  font-weight: 500;
}
.container1 h1 {
  font-size: 3rem;
  color: crimson;
}
.img-1 {
  border-left: 4px solid crimson;
  border-bottom: 4px solid crimson;
}
.about {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 150px;
  font-size: 1.2rem;
  font-weight: 500;
}
.content {
  width: 40%;
}
.img-2 {
  border-bottom: 4px solid crimson;
  border-right: 4px solid crimson;
}
span {
  color: crimson;
}
.skills {
  margin: 150px 80px;
}
.containerskills {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 60px;
}
.skillbox {
  padding: 20px;
  border: 2px solid rgba(177, 157, 157, 0.2);
}
.skillbox p {
  letter-spacing: 0.052rem;
  line-height: 1.4rem;
  font-weight: 400;
}
.copyright {
  text-align: center;
}
